# Unity generated folders
[Libraries]
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/

# VS Code / Rider / Visual Studio
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# OS-specific
.DS_Store
Thumbs.db

# Unity packages
*.unitypackage
